@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

div.deckgo-slide {
  font-size: var(--slide-font-size, var(--slide-auto-ratio-font-size, var(--slide-auto-font-size, 1em)));
}

div.deckgo-aspect-ratio-container {
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  div.deckgo-aspect-ratio-content {
    position: relative;

    width: calc(
      var(--slide-width) - var(--slide-padding-start, var(--slide-padding-start-default)) -
        var(--slide-padding-end, var(--slide-padding-end-default))
    );
    height: calc(
      (
          var(--slide-width) - var(--slide-padding-start, var(--slide-padding-start-default)) -
            var(--slide-padding-end, var(--slide-padding-end-default))
        ) * 9 / 16
    );

    /* Your template style here after */
    /* My custom Template styles */

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto;
    grid-template-areas:
      "title-a title-b"
      "content-a content-b";
    grid-gap: 2em;
    justify-items: left;
    align-items: start;

    background: var(--background, lightgray);

    // For debugging
    // border: solid red;
  }
}

::slotted([slot="titleA"]) {
  grid-area: title-a;
}

::slotted([slot="titleB"]) {
  grid-area: title-b;
}

::slotted([slot="contentA"]) {
  grid-area: content-a;
}

::slotted([slot="contentB"]) {
  grid-area: content-b;
}

::slotted([slot="titleA"]),
::slotted([slot="contentA"]) {
  text-align: right;
  user-select: text;
}

::slotted([slot="titleB"]),
::slotted([slot="contentB"]) {
  text-align: left;
  user-select: text;
}
